{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card ml-5 mr-5 pl-5 p-5">
        <h5 class="card-header text-center"> <strong> Add Officer on Leave </strong></h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Add Officer on Leave</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}