{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">   

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <title>Centralized Transparent Service System</title>
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'home' %}">Centralized Transparent Service System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle btn btn-outline-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Create New Request
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/addbirthcertificate">New Birth Certicate</a>
                                <a class="dropdown-item" href="/addmarriagecertificate">New Marriage Certicate</a>                            
                                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                            </div>
                        </li>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}                      
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="#"> {{ request.user.email }}</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>            
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-9">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}
                
                {% endblock %}
            </div>
            <div class="col-md-3">
                <div class="content-section">
                    <h3>Search </h3>
                    <form action="{% url 'search' %}" method="get">
                        <input name="q" type="number" placeholder="Enter Service Request Id...">
                    </form>
                </div>
                <div class="content-section">
                    <h3>Announcements</h3>
                    <p class='text-muted'> Latest updates from CTSS Infosystem</p>
                        <ul class="list-group list-group-flush">
                        {% if user.role == 'ADMIN'%}
                                <a href="/newannouncement/"><button type="button" class="btn btn-outline-primary mb-1" >Add Announcement</button></a>
                        {% endif %}
                        {% for announcement in announcements %}
                            <li class="list-group-item list-group-item-info m-1">{{ announcement.text }} </li>
                        {% endfor %}
                        </ul>
                </div>
                <div class="content-section">
                    <h3>Officers on Leave</h3>
                    <p class='text-muted'> Below Officers are on leave Today</p>
                        <ul class="list-group list-group-flush">    
                        {% if user.role == 'ADMIN'%}
                            <a href="/newleaveofficer/"><button type="button" class="btn btn-outline-primary mb-1">Add Officer On Leave</button></a>
                        {% endif %}
                        {% for officer in leave_officers %}
                            <li class="list-group-item list-group-item-danger m-1">{{ officer }}</li>
                        {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>