{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="card-header">
        <h5><span class="badge badge-pill badge-warning">Request Id : {{ service_request.id }}</span>
            {{ service_request.description }}</h5>
    </div>
    <div class="card-body">
        <div class="card border-light mb-3">
            <h5>
                <div class="card-header bg-success text-light">Service Request Processing Status</div>
            </h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <p class="card-text">Requester : {{ service_request.owner }}</p>
                    </div>
                    <div class="col-sm">
                        <p class="card-text">Description : {{ service_request.description }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p class="card-text">Category : {{ service_request.category.name }}</p>
                    </div>
                    <div class="col-sm">
                        <p class="card-text">Subcategory : {{ service_request.category.subcategory }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p class="card-text">Status : {{ service_request.status }}</p>
                    </div>
                    <div class="col-sm">
                        <p class="card-text">Close Date : {{ service_request.closed_date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p class="card-text">Assigened to : {{ service_request.assigned_to }}</p>
                    </div>
                    <div class="col-sm">
                        <p class="card-text">Created On : {{ service_request.created }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p class="card-text">Due Date: {{ service_request.duedate }}</p>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Field Name </th>
                    <th scope="col">Data Entered</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in service_request.data.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Process Service Request</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Process Service Request</button>
        </div>
    </form>
</div>
{% endblock content %}